# SQL Join

Note : Create the following dummy tables in MySQL Workbench using CREATE FUNCTION
- Table 1: Customers
- Table 2: Orders
- Table 3: Payments
- Table 4: Employees

In [ ]:
"""
    --Table 1
    CREATE TABLE Customers (
        CustomerID INT PRIMARY KEY,
        CustomerName VARCHAR(100),
        City VARCHAR(100)
    );

    INSERT INTO Customers VALUES
    (1, 'John Smith', 'New York'),
    (2, 'Mary Johnson', 'Chicago'),
    (3, 'Peter Adams', 'Los Angeles'),
    (4, 'Nancy Miller', 'Houston'),
    (5, 'Robert White', 'Miami');



    --Table 2
    CREATE TABLE Orders (
        OrderID INT PRIMARY KEY,
        CustomerID INT,
        OrderDate DATE,
        Amount INT
    );

    INSERT INTO Orders VALUES
    (101, 1, '2024-10-01', 250),
    (102, 2, '2024-10-05', 300),
    (103, 1, '2024-10-07', 150),
    (104, 3, '2024-10-10', 450),
    (105, 6, '2024-10-12', 400);



    --Table 3
    CREATE TABLE Payments (
        PaymentID VARCHAR(10) PRIMARY KEY,
        CustomerID INT,
        PaymentDate DATE,
        Amount INT,
        FOREIGN KEY (CustomerID) REFERENCES Customers(CustomerID)
    );

    INSERT INTO Payments VALUES
    ('P001', 1, '2024-10-02', 250),
    ('P002', 2, '2024-10-06', 300),
    ('P003', 3, '2024-10-11', 450),
    ('P004', 4, '2024-10-15', 200);



    --Table 4
    CREATE TABLE Employees (
        EmployeeID INT PRIMARY KEY,
        EmployeeName VARCHAR(100),
        ManagerID INT
    );

    INSERT INTO Employees VALUES
    (1, 'Alex Green', NULL),
    (2, 'Brian Lee', 1),
    (3, 'Carol Ray', 1),
    (4, 'David Kim', 2),
    (5, 'Eva Smith', 2);
"""

Q1. Retrieve all customers who have placed at least one order.

In [ ]:
"""
    SELECT * FROM Customers AS c
    INNER JOIN Orders o ON c.CustomerID = o.CustomerID
"""

Q2. Retrieve all customers and their orders, including customers who have not placed any orders.

In [ ]:
"""
    SELECT * FROM Customers c 
    LEFT JOIN Orders o ON c.CustomerID = o.CustomerID
"""

Q3. Retrieve all orders and their corresponding customers, including orders placed by unknown customers.

In [ ]:
"""
    SELECT * FROM Customers c 
    RIGHT JOIN Orders o ON c.CustomerID = o.CustomerID
"""

Q4. Display all customers and orders, whether matched or not.

In [ ]:
"""
    SELECT * FROM Customers AS c 
    LEFT JOIN Orders AS o ON c.CustomerID = o.CustomerID 
    UNION 
    SELECT * FROM Customers AS c 
    RIGHT JOIN Orders AS o ON c.CustomerID = o.CustomerID
"""

Q5. Find customers who have not placed any orders.

In [ ]:
"""
    SELECT * FROM Customers AS c 
    LEFT JOIN Orders AS o ON c.CustomerID = o.CustomerID 
    WHERE o.CustomerID IS NULL 
"""

Q6. Retrieve customers who made payments but did not place any orders.

In [ ]:
"""
    SELECT * FROM Customers AS c 
    LEFT JOIN Orders AS o ON c.CustomerID = o.CustomerID 
    INNER JOIN Payments p ON c.CustomerID = p.CustomerID 
    WHERE o.CustomerID IS NULL
"""

Q7. Generate a list of all possible combinations between Customers and Orders.

In [ ]:
"""
    SELECT * FROM Customers AS c
    CROSS JOIN Orders AS o;
"""

Q8. Show all customers along with order and payment amounts in one table.

In [ ]:
"""
    SELECT * FROM Customers AS c
    LEFT JOIN Orders AS o ON c.CustomerID = o.CustomerID 
    LEFT JOIN Payments AS p ON c.CustomerID = p.CustomerID;
"""

Q9. Retrieve all customers who have both placed orders and made payments.

In [ ]:
"""
    SELECT * FROM Customers AS c
    INNER JOIN Orders AS o ON c.CustomerID = o.CustomerID 
    INNER JOIN Payments p ON c.CustomerID = p.CustomerID;
"""